@main("Novo Evento"){
	<form class="form-horizontal" action="@routes.EventosController.cria()" method="POST">
		
		<fieldset>
		
			<!-- Form Name -->
			<legend>Cadastro de Eventos</legend>
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="nome">Nome</label>  
			  <div class="col-md-4">
			  <input id="nome" name="nome" type="text" placeholder="digite seu nome" class="form-control input-md">
			    
			  </div>
			</div>
			
			<!-- email input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="emailParaContato">E-Mail para contato</label>  
			  <div class="col-md-4">
			  <input id="emailParaContato" name="emailParaContato" type="email" placeholder="digite seu email" class="form-control input-md">
			    
			  </div>
			</div>
			
			<!-- descricao textarea -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="descricao">Descrição</label>
			  <div class="col-md-4">                     
			    <textarea class="form-control" id="descricao" name="descricao"></textarea>
			  </div>
			</div>
			
			<!-- Select Basic -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="estado">Estado</label>
			  <div class="col-md-4">
			    <select id="estado" name="estado" class="form-control">
			    	@for(estado <- Estado.values){
			      			<option value="@estado.name">@estado.name</option>
			      	}
			    </select>
			  </div>
			</div>
			
			
			<!-- site input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="site">Site</label>  
			  <div class="col-md-4">
			  <input id="site" name="site" type="text" placeholder="" class="form-control input-md">
			    
			  </div>
			</div>
			
			<!-- data inicio input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="dataDeInicio">Data de Inicio</label>  
			  <div class="col-md-2">
			  <input id="dataDeInicio" name="dataDeInicio" type="date" placeholder="" class="form-control input-md">
			    
			  </div>
			</div>
			
			<!-- data fim input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="dataDeFim">Data de Fim</label>  
			  <div class="col-md-2">
			  <input id="dataDeFim" name="dataDeFim" type="date" placeholder="" class="form-control input-md">
			    
			  </div>
			</div>
			
			<!-- Novo Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="novoEvento">Novo Evento</label>
			  <div class="col-md-4">
			    <button id="novoEvento" name="novoEvento" class="btn btn-primary">Salvar</button>
			  </div>
			</div>

		</fieldset>
	</form>
}